html { font-size: 100%; padding: 0; margin: 0; }
body { 
    font-size: 62.5%; 
    padding: 0; 
    margin: 0;
    background: url("../images/chalkboard.jpg") no-repeat scroll center top #000000;
}
html, body {
    min-height: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    font-smooth: always;
    text-rendering: optimizeLegibility;
    font-family: Helvetica, Arial, sans-serif;
    color: #ffffff;
}
h1 {
    font-size: 3.6em;
    line-height: 1.111em;
    margin: 0 0 0.5em;
}
h2 .title {
    display: block;
    font-size: 1.2em;
}

h2 {
    font-size: 2.2em;
    line-height: 1.111em;
    margin: 0;
    padding-bottom: 0.8em;
    text-shadow:2px 2px 0 #000000;
}
h3 {
    font-size: 1.4em;
    margin: 0;
    padding-bottom: 1em;
    text-shadow: 1px 1px 0 #000000;
}
h4 {
    font-size: 1.2em;
    margin: 0;
}
h4 a {
    text-decoration: none;
    color: #009900;
}
p {
    font-size: 1.4em;
    line-height: 1.3em;
}

div#registration-column p {
   /* font-size: 1em; */
}

ul li {
    font-size: 1.4em;
    line-height: 1.5em;
}
time {
    color: #FF6902;
}
div#wrapper {
    -moz-transition: all 1s ease 0s;
    background: none repeat scroll 0 0 transparent;
    /*border-bottom: 10px solid #581C7B; */
    border-radius: 10px 10px 10px 10px;    
    -webkit-border-radius: 10px;
    /*border: 1px solid #FF6902;*/
    left: 50%;
    margin: 1em 0 1em -45em;
    max-width: 90em;
    min-height: 43.5em;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 90em;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;	
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
div#wrapper.loading {
    top: 50%;
    left: 50%;
    width: 4em;
    height: 4em;
    min-height: 4em;
    margin: -2em 0 0 -2em;
    text-align: center;
    /*border-top: 1px solid #787878;
    border-bottom: 1px solid #787878;*/
    -webkit-border-radius: 2em;
    border-radius: 2em;
    background: transparent url(/images/ajax-loader.gif) no-repeat center 1em;
    z-index: 99999;
}





header {
/*   margin: 1em; */
   -webkit-transition: all 1s;
      -moz-transition: all 1s;
       -ms-transition: all 1s;
        -o-transition: all 1s;
   transition: all 1s;
    /*background-color: #581C7B;
    border-bottom: 10px solid #000000;
    border-radius: 5px 5px 0 0;*/
}
header h1 {
   text-align: center;
   font: 7em/1.2em 'ÆnigmaScrawl4BRKRegular', Helvetica, Arial, sans-serif;
   /*margin: 0.2em;*/
   padding-top: 20px;
   color: #ffffff;
   /*text-shadow: 5px 5px #000;*/
}
header nav {
    text-align: center;
    margin: 0 auto;
}
header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
header nav ul li {
    display: inline-block;
    font-size: 1.4em;
    line-height: 2.143em;
    padding: 0 0.714em;
    margin: 0 0.714em;
    border-bottom: 1px solid #090;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    height: 2.143em;
    overflow: hidden;
}
header nav ul li:hover {
    background-color: #efefef;
    cursor: pointer;
}
header nav ul li:active, header nav ul li.active {
    margin-top: -1px;
    border-top: 1px solid #999999;
    border-bottom: none;
    background-color: #efefef;
    cursor: pointer;
}
header div#connection {
    float: right;
    font-size: 2em;
    line-height: 1em;
    text-align: center;
    padding: 0.833em;
    color: #090;
}
header div#connection.no-connection {
    color: #900;
}




div#main {
    overflow: hidden;
    -webkit-transition: all 1s;
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 2em;
}
div#main .column {
    width: 50%;
    float: left;
}
div#main .column > div {
    padding: 0 1em;
}
div#main div#registration-column div#registered {
    display: none;
}
div#main div#registration-column.registered div#registered {
    display: block;
    font-size: 2em;
    height: 12em;
    text-align: center;
}
div#main div#registration-column.registered div#registered i {
    font-size: 5em;
    line-height: 1.2em;
    color: #090;
}
div#main div#registration-column.registered form#registration {
    display: none;
}
div#main form#registration {
    margin: 0;
    padding: 0;
}
div#main form#registration label {
    display: inline-block;
    min-width: 7em;
    font-size: 1.2em;
    line-height: 2em;
    text-align: right;
    margin-right: 0.833em;
}
div#main form#registration label.mandatory:before {
    color: #900;
    content: '* ';
}
div#main form#registration input {
    width: 15em;
    border-radius: 2px;
    border: 1px solid #ccc;
    box-sizing(border-box);
    font-size: 1.2em;
    line-height: 2em;
    padding: 0 0.417em;
    margin: 0;
}
div#main form#registration input#r-submit {
    width: 10em;
    border-radius: 2px;
    margin-left: 8.1em;
    border: 1px solid #3310FF;
    background-color: #3310FF;
    color: white;
    box-sizing(border-box);
    font-size: 1.2em;
    line-height: 2em;
    padding: 0 0.417em;
    text-align: center;
    cursor: pointer;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
div#main form#registration input#r-submit:hover {
    background-color: #a00;
    border: 1px solid #b00;
}
div#main form#registration input#r-submit[disabled] {
    background-color: #ccc;
    border: 1px solid #eee;
    color: #eee;
}
div#main form#registration input#r-submit.active {
    background-color: #090;
    border: 1px solid #0a0;
}
div#main form#registration input#r-submit.active:hover {
    background-color #0a0;
    border: 1px solid #0b0;
}
div#main form#registration hr {
    visibility: hidden;
}





footer {
    -moz-transition: all 1s ease 0s;
    border-radius: 1em 1em 1em 1em;
    margin: 1em auto 0;
    max-width: 96em;
    min-height: 2em;
    overflow: hidden;
    padding-left: 25em;
    padding-right: 25em;
}
footer .column {
    width: 25%;
    float: left;
    overflow: hidden;
    text-align: center;
}
footer .houston_logo {
    text-align: center;
}
footer .column > div {
    padding: 1em 1em 0;
}
footer > div.end {
    text-align: center;
    font-size: 1.1em;
    line-height: 2em;
}
.hidden {
    opacity: 0;
}
