<div id="templates">
    <div id="header">
        <div id="connection" class="no-connection" title="No connection"><i class="icon-signal"></i></div>
        <h1>HTML Workshop</h1>
    </div>
    <div id="main">
        <div class="column">
            <div>
                <h2><span class="title">HTML Workshop</span><i class="icon-star"></i> <time>6 June 2012</time></h2>
                <h3>JavaScript / CSS trickery and black magic</h3>
                <h4><a href="http://maps.google.fi/maps?hl=fi&q=verkkosaarenkatu+5,+helsinki" target="_blank"><i class="icon-map-marker"></i> Houston Inc. - Verkkosaarenkatu 5, Helsinki</a></h4>
                <p>
		  Welcome to HTML workshop organized by Houston Inc. Our topics include:</p>
                    <ul>
                        <li>Vanilla JavaScript internals, conventions and understanding scopes
                        <li>Working with JavaScript objects
                        <li>Debugging JavaScript
                        <li>CSS Hacks for browser support (read IE)
                        <li>CSS grids and working with EMs
                    </ul>
		  <p>Sign up now to get more information. The workshop is free of charge!
                </p>
            </div>
        </div>
        <div class="column" id="registration-column">
            <div>
                <form id="registration" action="/registration" method="post">
                    <p>
                        <label for="r-firstname" class="mandatory">Firstname:</label> <input type="text" id="r-firstname" name="firstname" />
                    </p>
                    <p>
                        <label for="r-lastname" class="mandatory">Lastname:</label> <input type="text" id="r-lastname" name="lastname" />
                    </p>
                    <p>
                        <label for="r-email" class="mandatory">Email:</label> <input type="text" id="r-email" name="email" />
                    </p>
                    <hr />
                    <p>
                        <label for="r-company">Company:</label> <input type="text" id="r-company" name="company" />
                    </p>
                    <p>
                        <label for="r-title">Title:</label> <input type="text" id="r-title" name="title" />
                    </p>
                    <p>
                        <input id="r-submit" type="submit" value="Sign up!" class="active" />
                </form>
                <div id="registered">
                    <i class="icon-thumbs-up"></i><br />
                    Registered!
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="column">
            <div>
                <a href="http://www.facebook.com/pages/Houston-Inc/311758732627" target="_blank">
                    <img src="/images/facebook.png" width="64" height="64" alt="Facebook" />
                </a>
            </div>
        </div>
        <div class="column">
            <div>
                <a href="http://www.linkedin.com/company/243266" target="_blank">
                    <img src="/images/linkedin.png" width="64" height="64" />
                </a>
            </div>
        </div>
        <div class="column">
            <div>
                <a href="http://www.twitter.com/houstoninc/" target="_blank">
                    <img src="/images/twitter.png" width="64" height="64" />
                </a>
            </div>
        </div>
        <div class="column">
            <div>
                <a href="http://www.vimeo.com/houstoninc/" target="_blank">
                    <img src="/images/vimeo.png" width="64" height="64" />
                </a>
            </div>
        </div>
        <div class="houston_logo">
  	        <img src="/images/houston_logo.png" width="130" height="22" alt="Houston Inc." />
        </div>
    </div>
    <div class="end">
        <div class="houston_logo"><img src="/images/houston_logo.png" /></div>HTML Workshop Strikeforce | Houston Inc.
    </div>
</div>
