<div id="templates">
    <div id="header">
        <div id="connection" class="no-connection" title="No connection"><i class="icon-signal"></i></div>
        <h1>HTML Workshop</h1>
    </div>
    <div id="main">
        <div class="column">
            <div>
                <h2><span class="title">HTML Workshop</span><i class="icon-star"></i> <time>December 2012</time></h2>
                <h3>JavaScript / CSS trickery and black magic</h3>
                <p>We will organize HTML workshop in Tallinn when at least ten participants have registered.</p>
                <h4><i class="icon-map-marker"></i> Houston Inc. - Tallinn (Street address announced later)</h4>
                <p>
		  Welcome to HTML workshop organized by Houston Inc. Our topics include:</p>
                    <ul>
                        <li>Vanilla JavaScript internals, conventions and understanding scopes
                        <li>Working with JavaScript objects
                        <li>Debugging JavaScript
                        <li>CSS Hacks for browser support (read IE)
                        <li>CSS grids and working with EMs
                    </ul>
		  
            </div>
        </div>
        <div class="column" id="registration-column">
         
                <h2>Registration</h2>
                <p>Registrations per email <a href="mailto:dojos@houston-inc.com?subject=Registration%20to%20Tallinn%20HTML-Workshop">dojos@houston-inc.com</a>! Please mention <em>Registration to Tallinn HTML-Workshop</em> in the email.</p>
        </div>
    </div>
    <div id="footer">
        <div class="column">
            <div>
                <a href="http://www.facebook.com/pages/Houston-Inc/311758732627" target="_blank">
                    <img src="/images/facebook.png" width="64" height="64" alt="Facebook" />
                </a>
            </div>
        </div>
        <div class="column">
            <div>
                <a href="http://www.linkedin.com/company/243266" target="_blank">
                    <img src="/images/linkedin.png" width="64" height="64" />
                </a>
            </div>
        </div>
        <div class="column">
            <div>
                <a href="http://www.twitter.com/houstoninc/" target="_blank">
                    <img src="/images/twitter.png" width="64" height="64" />
                </a>
            </div>
        </div>
        <div class="column">
            <div>
                <a href="http://www.vimeo.com/houstoninc/" target="_blank">
                    <img src="/images/vimeo.png" width="64" height="64" />
                </a>
            </div>
        </div>
        <div class="houston_logo">
  	        <img src="/images/houston_logo.png" width="130" height="22" alt="Houston Inc." />
        </div>
    </div>
    <div class="end">
        <div class="houston_logo"><img src="/images/houston_logo.png" /></div>HTML Workshop Strikeforce | Houston Inc.
    </div>
</div>
